body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.85), rgba(0,0,0,.5)), url(assets/blacklace.png);
  background-size: 351px;
  color: rgba(20,6,0,1);
  font-family: 'Tahoma', sans-serif;
  font-style: oblique;
  text-align: justify;
  padding: 0px;
}

.textbg {
  margin: 0px auto;
  background-image: url(assets/paperbg_v3.png);
  background-size: 200px;
  border-radius: 4px;
}

#content {
  width: 600px;
  height: 100%;
}

<!-- For mobile display -->
@media only screen and (min-device-width : 100px) and (max-device-width : 480px) and (orientation:portrait) {
  #content {
    width:95%;
    margin: auto;
  }
}

.title-div {
  width: 600px;
  height: 365px;
  margin: 0px;
  padding: 0px;
  background-image: url(assets/seal.png);
}

.title-text{
  font-size: 60px;
  color: rgba(20,6,0,1);
  font-family: 'Brush Script MT', cursive;
  font-style: oblique;
  padding: 40px 0 0;
  margin-bottom:0px;
}

.fit-in {
  max-width: 560px;
  object-fit: contain;
}

.description {
  padding: 20px;
}

.centered {
  text-align: center;
  width: 100%;
}

.blinktext {
  animation: blinker 1s linear infinite;
  font-weight: 900;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
